@model Plum.Models.Business
@{
    ViewBag.Title = "Show";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pull-left">Settings</h2>
            <a href="@Url.Action(MVC.Queue.Show(Model.Queues.First().Id))" class="btn btn-primary btn-lg pull-right" data-loading-overlay="true">
                Go To Wait List
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Business Information (your customers will see this)
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Business Name</dt>
                        <dd>@Model.Name</dd>
                        <dt>Phone Number</dt>
                        @if (Model.HasPhoneNumber())
                        {
                            <dd>@Html.PhoneNumber(Model.PhoneNumber)</dd>
                        }
                        else
                        {
                            <dd>None</dd>
                        }
                    </dl>

                    <a href="@Url.Action(MVC.Business.Edit(Model.Id))" class="btn btn-default btn-block" data-loading-overlay="true">
                        <i class="fa fa-edit"></i>
                        Edit Business Information
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sign In Information
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Email Address</dt>
                        <dd>@Model.Account.EmailAddress</dd>
                        <dt>Password</dt>
                        <dd>
                            &#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;	&#9679;
                        </dd>
                    </dl>
                    <a href="#" class="btn btn-default btn-block">
                        <i class="fa fa-edit"></i>
                        Edit Sign In Information
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Text Messages
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Welcome Text Message</dt>
                        <dd><em>@Model.SampleWelcomeTextMessage()</em></dd>
                        <dt>Ready Text Message</dt>
                        <dd><em>@Model.SampleReadyTextMessage()</em></dd>
                    </dl>
                    <a href="#" class="btn btn-default btn-block">
                        <i class="fa fa-edit"></i>
                        Edit Text Messages
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

