@model Plum.ViewModels.Account.SignUpViewModel
@{
    ViewBag.Title = "Sign Up";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign Up</h2>
            <form action="@Url.Action(MVC.Account.SignUp())" method="post">
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(x => x.BusinessName, "Business Name (your customers will see this)")
                    @Html.TextBoxFor(x => x.BusinessName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.EmailAddress, "Email Address (in case you forget your password)")
                    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", type = "email" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                </div>
                <input type="submit" value="Submit" class="btn btn-primary" />
                @Html.AntiForgeryToken2()
            </form>
            <p>
                <br />
                Already have an account? @Html.ActionLink("Sign In", MVC.Account.SignIn())
            </p>
        </div>
    </div>
</div>


