@model Plum.ViewModels.Business.SignInInformationViewModel

@Html.ValidationSummary()
<div class="form-group">
    <label for="@Html.IdFor(x => x.EmailAddress)">
        Email Address
        <span class="text-danger">*</span>
    </label>
    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.NewPassword, "New Password")
    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.ConfirmNewPassword, "Confirm New Password")
    @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
</div>
<div class="form-group">
    <label for="@Html.IdFor(x => x.CurrentPassword)">
        Current Password
        <span class="text-danger">*</span>
    </label>
    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
</div>
<a href="#" class="btn btn-default pull-left"
   data-loading-overlay="true"
   data-ajax-load="true"
   data-ajax-load-target="#SignInInformationPanel"
   data-ajax-load-url="@Url.Action(MVC.Business.ShowSignInInformation(Model.Id))">
    Cancel
</a>
<input type="submit" value="Save Changes" class="btn btn-primary pull-right" />
<div class="clearfix"></div>
@Html.HttpMethodOverride(HttpVerbs.Put)
@Html.AntiForgeryToken2()