@model Plum.Models.Queue
@{ 
    Layout = null;
}

@if (Model.Customers.Count() == 0)
{
    <p>
        There are no customers waiting.
    </p>
}
else if (Model.Customers.Count() > 1)
{
    <p id="RearrangeListInstructions" class="text-muted" style="display:none;">
        Drag and drop to reorder the list.  Click &quot;Save List Order&quot; when you're done.
    </p>
}
<ul class="list-group text-center">
    @foreach (var customer in Model.OrderedCustomers())
    {
        <li class="list-group-item" data-show-customer-id="@customer.Id">
            @customer.Name (@customer.NumberInParty) - Waited @customer.TimeWaitedWords()
            @if (customer.QuotedTimeInMinutes.HasValue)
            {
                if (customer.TimeWaited().TotalMinutes > customer.QuotedTimeInMinutes.Value)
                {
                    <span class="text-danger text-nowrap">(Quoted @customer.QuotedTimeWords())</span>
                }
                else
                {
                    <span class="text-muted text-nowrap">(Quoted @customer.QuotedTimeWords())</span>
                }
            }
        </li>
    }
</ul>