@model Plum.Models.Customer

@{
    ViewBag.Title = "CustomerView";
}

<div class="container">
    <div class="h3">@Model.Queue.Business.Name</div>
    <form action="@Url.Action(MVC.Queue.CancelPlaceInLine())" method="post">
        <button data-confirm="Are you sure?" data-confirm-prompt="Are you sure you want to cancel your place in line?" class="btn btn-block btn-default">
            <i class="fa fa-times"></i>
            Cancel Place In Line
        </button>
        @Html.AntiForgeryToken2()
        @Html.Hidden(MVC.Queue.CancelPlaceInLineParams.urlToken, Model.UrlToken)
    </form>
    <br />
    <div id="customerViewQueueList">
        @Html.Partial(MVC.Queue.Views.CustomerViewQueueList, Model)
    </div>
</div>
@section scripts {
    <script>
        window.viewData = {};
        window.viewData.urlToken = '@Model.UrlToken';
        window.viewData.udpateCustomerViewQueueListUrl = '@Url.Action(MVC.Queue.CustomerViewQueueList(Model.UrlToken))';
    </script>
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.Queue.CustomerView_es5_min_js)"></script>
}