@model Plum.Models.Queue
@using Plum.ViewModels.Customer
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <h3>@Model.Business.Name</h3>
    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#AddCustomerModal">
        <i class="fa fa-plus"></i>
        Add Party
    </button>
    <br />
    <div id="businessViewQueueList">
        @Html.Partial(MVC.Queue.Views.BusinessViewQueueList, Model)
    </div>
</div>
<div id="ManageCustomerModal" class="modal">
</div>
<div id="AddCustomerModal" class="modal">
    @Html.Partial(MVC.Queue.Views.AddCustomerModal, new CustomerViewModel { QueueId = Model.Id })
</div>
@section Scripts {
    <script>
        window.viewData = {};
        window.viewData.queueId = @Model.Id;
        window.viewData.sortingDebounce = 500;
        window.viewData.sortQueueUrl = '@Url.Action(MVC.Queue.SortQueue())';
        window.viewData.udpateBusinessViewQueueListUrl = '@Url.Action(MVC.Queue.BusinessViewQueueList(Model.Id))';
        window.viewData.manageCustomerModalUrl = '@Url.Action(MVC.Queue.ManageCustomerModal())';
    </script>
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.Queue.Manage_es5_min_js)"></script>
}