@model Plum.Models.Customer
@{
    Layout = null;
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div id="ManageCustomerModal" class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    @Model.Name (@Model.NumberInParty) @Model.TimeWaited().Humanize()
                </h4>
            </div>
            <div class="modal-body button-stack">
                @if (Model.HasPhoneNumber())
                {
                    <p>
                        <em>@Html.PhoneNumber(Model.PhoneNumber)</em>
                    </p>
                    <button id="SendReadyMessageButton" class="btn btn-block btn-primary" type="button">
                        <i class="fa fa-comment"></i>
                        Send &quot;Table Ready&quot; Message
                    </button>
                }
                else
                {
                    <p>
                        <em>No phone number.</em>
                    </p>
                    <button class="btn btn-block btn-primary" disabled="disabled" type="button">
                        <i class="fa fa-comment"></i>
                        Send &quot;Table Ready&quot; Message
                    </button>
                }
                <form action="@Url.Action(MVC.Queue.RemoveCustomer())" method="post">
                    <button data-confirm="Are you sure?" data-confirm-prompt="Are you sure you want to remove @HttpUtility.HtmlAttributeEncode(Model.Name) from the list?" class="btn btn-block btn-default" type="submit">Remove From List</button>
                    @Html.Hidden(MVC.Queue.RemoveCustomerParams.customerId, Model.Id)
                    @Html.AntiForgeryToken2()
                </form>
                <button class="btn btn-block btn-default" type="button">Move to End of List</button>
                @*<a href="#" class="btn btn-block btn-default">Edit Party</a>*@
                @if (Model.LogEntries.Any())
                {
                    <h5>
                        History
                    </h5>
                    <div class="history">
                        @foreach (var entry in Model.LogEntries.OrderByDescending(x => x.Id))
                        {
                            <p>
                                <i class="fa @entry.Icon()"></i>
                                @entry.Message
                                <span class="text-muted">@entry.Age().Humanize() ago</span>
                            </p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    initConfirmationModals('#ManageCustomerModal');
    var ajaxAntiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
    $('#ManageCustomerModal #SendReadyMessageButton ').click(function () {
        $.ajax({
            url: '@Url.Action(MVC.Queue.SendReadyTextMessage())',
            method: 'POST',
            data: { 
                customerId: @Model.Id,
                __RequestVerificationToken: ajaxAntiForgeryToken
            }
        });
    });
</script>
