@model IEnumerable<Plum.Models.LogEntry>
@{
    ViewBag.Title = "Log";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Log</h2>
            <table class="table-condensed table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Logged</th>
                        <th>Level</th>
                        <th>Message</th>
                        <th>User Name</th>
                        <th>URL</th>
                        <th>Remote Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var entry in Model)
                    {
                        <tr>
                            <td>@entry.Id</td>
                            <td>@entry.Logged</td>
                            <td>@entry.Level</td>
                            <td>@entry.Message</td>
                            <td>@entry.UserName </td>
                            <td>@entry.Url</td>
                            <td>@entry.RemoteAddress</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>