@helper controller()
{
    @ViewContext.RouteData.GetRequiredString("controller").Underscore().Dasherize();
}
@helper action()
{
    @((ViewContext.RouteData.GetRequiredString("controller") + ViewContext.RouteData.GetRequiredString("action")).Underscore().Dasherize());
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@Html.FileVersionUrl(Links.Content.Styles.Site_min_css)" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="app @controller() @action()">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#main-navigation" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand text-info">@Html.ApplicationName()</a>
            </div>
            <div id="main-navigation" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">How It Works</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text">@AppSession.BusinessName</span>
                        </li>
                        <li>
                            <form action="@Url.Action(MVC.Account.SignOut())">
                                <button type="submit" class="btn btn-default navbar-btn">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <a href="@FormsAuthentication.LoginUrl" class="btn btn-default navbar-btn navbar-right">Sign In</a>
                }
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container">
        <hr />
        <p>
            &copy; @DateTime.Now.Year cd312f2e, LLC
        </p>
    </div>
    <div id="ConfirmModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.Site_es5_min_js)"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
