@helper controller()
{
    @ViewContext.RouteData.GetRequiredString("controller").Underscore().Dasherize();
}
@helper action()
{
    @((ViewContext.RouteData.GetRequiredString("controller") + ViewContext.RouteData.GetRequiredString("action")).Underscore().Dasherize());
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@Html.FileVersionUrl(Links.Content.Styles.Site_min_css)" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-version" content="@AppSettings.Version (@AppSettings.ReleaseProfile)" />
    @Html.Partial(MVC.Shared.Views._Manifest, AppManifest)
</head>
<body class="@controller() @action()">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#main-navigation" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand text-info">@Html.ApplicationName()</a>
            </div>
            <div id="main-navigation" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action(MVC.Queue.Show())">Wait List</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Business.Show(AppSession.BusinessId.Value))">Settings</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#">How It Works</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action(MVC.Home.ContactUs())">Contact Us</a>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <span class="navbar-text">@AppSession.BusinessName</span>
                        </li>
                        <li>
                            <form action="@Url.Action(MVC.Account.SignOut())">
                                <button type="submit" class="btn btn-default navbar-btn">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <a href="@Url.Action(MVC.Account.SignIn())" class="btn btn-default navbar-btn navbar-right">Sign In</a>
                }
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr />
                <ul class="list-inline">
                    <li>&copy; @DateTime.Now.Year @AppSettings.App.Company</li>
                    <li>@Html.ActionLink("Privacy Policy", MVC.Home.PrivacyPolicy())</li>
                    <li>@Html.ActionLink("Terms of Use", MVC.Home.TermsOfUse())</li>
                </ul>
            </div>
        </div>
        <div class="app-icon hidden">
            <span>
                Plum
            </span>
        </div>
    </div>
    <div id="ConfirmModal" class="modal">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                        <button id="ConfirmModal-Yes" type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken2()
    }
    @Html.CdnScript("https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", Links.Content.Scripts.CdnFallbacks.jquery_2_2_4_min_js, "window.jQuery")
    @Html.CdnScript("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", Links.Content.Scripts.CdnFallbacks.bootstrap_3_3_6_min_js, "$.fn.modal")
    @Html.CdnScript("https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js", Links.Content.Scripts.CdnFallbacks.jquery_validate_1_14_0_min_js, "$.validator")
    @Html.CdnScript("https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js", Links.Content.Scripts.CdnFallbacks.jquery_validate_unobtrusive_5_2_3_min_js, "$.validator.unobtrusive")
    @Html.CdnScript("https://cdnjs.cloudflare.com/ajax/libs/formatter.js/0.1.5/jquery.formatter.min.js", Links.Content.Scripts.CdnFallbacks.jquery_formatter_0_1_5_min_js, "$.fn.formatter")
    @Html.CdnScript("https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js", Links.Content.Scripts.CdnFallbacks.jquery_signalr_2_2_0_min_js, "$.signalR")
    @Html.CdnScript("https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js", Links.Content.Scripts.CdnFallbacks.jquery_ui_1_11_4_min_js, "$.ui")
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.jquery_ui_touch_punch_improved_es5_min_js)"></script>
    <script src="~/signalr/hubs"></script>
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.jquery_unobtrusive_ajax_min_js)"></script>
    <script src="@Html.FileVersionUrl(Links.Content.Scripts.Site_es5_min_js)"></script>
    @RenderSection("scripts", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-79154568-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
