@model Plum.ViewModels.Customer.CustomerViewModel
@{
    Layout = null;
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    @Model.Name (@Model.NumberInParty) - @Model.Customer.TimeWaited().Humanize()
                </h4>
            </div>
            <div class="modal-body">
                @Html.FlashMessage()
                @Html.DisplayForModel()
            </div>
        </div>
    </div>
</div>
<script>initAjaxLoadLinks('#ShowCustomerModal');</script>
